* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}

body {
    background-image: url('../img/background.jpg');
    background-size: cover;
}

textarea:focus, input:focus {
    outline: none;
}

a, label {
    font-size: .8rem;
}

a:hover {
    color: #08558B;
}


#login {
    background-color: #fff;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 20vh;
    border-radius: 10px;
    text-align: center;
    
}

form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus {
    border-bottom: 2px solid #acacac;
}

#esqueceu {
    text-align: right;
    display: block;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #363636;
    background-color: #ffd200;
    cursor: pointer;

}

input[type="submit"]:hover {
    background-color: #ffe982;
    transition: .5s;

}


#social, #social p  {
    margin-bottom: 20px;
}

#social i {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    margin: 0 5px;
    cursor: pointer;
}

.fa-facebook-f {
    background-color: #3B5998;
}

.fa-linkedin {
    background-color: #0077B5;
}


#registrar p {
    margin-bottom: 10px;
}

